@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(209, 209, 28, 0.342);
    margin: 0px;
}
footer {
    background-color: hsla(240, 73%, 3%, 0.842);
    color: rgb(214, 30, 46);
    text-align: center;
    margin: 0px;
    padding: 10px;

}
#projects {
    font-size: 30px;
    display: grid;
    justify-content: center;
    margin: 0px;
    padding: 2px;
    list-style-type: disc;
}
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center
    
}
#contact {
    max-width: 100%;
    max-height: 20%;
    margin: 0px;
    padding: 2px;
    background-color: rgba(2, 9, 44, 0.781);
    color: rgba(39, 204, 97, 0.753);
    width: auto;    
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 0px;
}
.logo {
    margin: 8px;
    color: rgb(111, 134, 163);
    font-size: smaller;
}
.logo :hover {
    color: blue;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 45px;
    margin: 30px;
}
header p {
    font-size: 25px;
    margin: 0px;
}
section {
    text-align: center;
    display:center;
}
#about {
    justify-content: center ;
} 

#nav1 {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 25px;
    color: ghostwhite;
}

#navbar {
display: flex;
justify-content: flex-end;
align-items: center;
margin: auto;
padding: 0px;
height: 50px;
background-color: rgb(110, 131, 170);
width: 100%;
position: fixed;
font-size: 24px;


}
#nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
#nav-items {

    font-size: 20px;
    color: rgb(111, 134, 196);
    font-family: cursive;
    margin: auto;
    padding: 5px;
}
h2 {
    font-family: 'Montserrat';

}
.fa-brdans {
    font-family: fontAwesome;
    color: rgb(121, 46, 98);

}
.fa-solid {
    color: rgb(111, 134, 163);
}