@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Quicksand:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("images/tech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(99, 99, 56, 0.342);
    margin: 0px;
}
footer {
    background-color: hsla(240, 73%, 3%, 0.842);
    color: rgb(214, 30, 46);
    text-align: center;
    margin: 0px;
    padding: 10px;
}
/*#projects {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 2px;
    flex-wrap: wrap;
    
}*/
.projects-container {
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
    margin-top: 8px;
    
}
.pj {
    margin: 5px;
}
.pj p {
    font-size: 30px;
}
#projects img {
    width: 150px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.logo {
    margin: 8px;
    color: rgb(111, 134, 163);
    font-size: smaller;
    margin: 5px 20px;
    padding: 5px 2px;
}
.logo :hover {
    color: blue;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 45px;
    margin: 30px;
}
header p {
    font-size: 25px;
    margin: 0px;
}
section {
    text-align: center;
    display:center;
}
#about {
    justify-content: center ;
} 

#navbar {
display: flex;
justify-content: flex-end;
align-items: center;
margin: auto;
padding: 10px;
height: 50px;
background-color: rgb(110, 131, 170);
text-decoration: none;
border-bottom: 2px solid lightsalmon;
width: 100%;
position: fixed;
font-size: 24px;
z-index: 3;


}
#nav-items {

    font-size: 20px;
    color: rgb(90, 160, 111);
    font-family: cursive;
    margin: auto;
    padding: 0px 25px;
    border-bottom: 2px black 0.2;
    text-decoration: none;
}
#nav-items:hover {
    color: lightsalmon;
}
h2 {
    font-family: 'Quicksand';
    font-size: 40px;

}
.fa-brdans {
    font-family: fontAwesome;
    color: rgb(121, 46, 98);

}
.fa-solid {
    color: rgb(111, 134, 163);
}
ul {
    list-style-type: none;
}
h3 {
    font-size: 21px;
    font-family: 'Caveat', 'cursive';
    color: rgb(78, 27, 61);
}